* {
  margin: 0;
  padding: 0;
}
body {
  font-family: verdana;
}
.header-non-authorize {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: block;
  padding: 5px;
  background: rgba(0, 0, 0, 0.15);
}

.join-now {
  padding-top: 10px;
  display: inline-block;
  text-decoration: none !important;
  font-size: 18px;
  font-weight: 700;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.15);
  color: #fff;
}
.join-now:hover, .join-now:active, .join-now:focus {
  color: #03a9f4;
}
.body-content {
  position: relative;
  display: block;
  z-index: -1;
}
.slide {
  list-style: none;
  overflow: hidden;
}
.slide-content {
  width: 100%;
  transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out ;
  -webkit-transition: all 500ms ease-in-out;
}
.clear-fix {
  clear: both;
  display: table;
}
.slide-content li {
  display: inline-block;
  position: absolute;
  z-index: -999;
}
.item-slide-content {
  background-size: cover !important;
  -o-background-size: cover !important;
  -moz-background-size: cover !important;
  -webkit-background-size: cover !important;
  background-position: center center;
}
.bg-item-slide-content0 {
  background: url(../images/slider/slide_1.jpg) no-repeat;
}

.bg-item-slide-content1 {
  background: url(../images/slider/slide_2.jpg) no-repeat;
}

.bg-item-slide-content2 {
  background: url(../images/slider/slide_3.jpg) no-repeat;
}

.bg-item-slide-content3 {
  background: url(../images/slider/slide_4.jpg) no-repeat;
}

.bg-item-slide-content4 {
  background: url(../images/slider/slide_5.jpg) no-repeat;
}

.bg-item-slide-content5 {
  background: url(../images/slider/slide_6.jpg) no-repeat;
}

#overlay-loading {
  background: #fff;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9999;
}

#overlay-loading .spinner {
  text-align: center;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}

#overlay-loading .spinner .circle-spin {
  border: 3px solid #fff;
  border-top-color:  #03a9f4;
  height: 68px;
  width: 68px;
  border-radius: 50%;
  -moz-animation: spin-circle 1s linear infinite;
  -webkit-animation: spin-circle 1s linear infinite;
  animation: spin-circle 1s linear infinite;
}

@-moz-keyframes spin-circle {
  0% {
    transform: rotate(0deg);
    -moz-transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin-circle {
  0% {
    transform: rotate(0deg);
    -moz-transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
    -moz-transform: rotate(360deg);
  }
}

@keyframes spin-circle {
  0% {
    transform: rotate(0deg);
    -moz-transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
    -moz-transform: rotate(360deg);
  }
}

.modal-header {
  background: #03A9F4;
  color: #fff;
}

.input-form-primary {
  display: block;
  width: 100%;
  padding: 10px 15px;
  outline: none;
  border: none;
  border-bottom: 1px solid #81d4fa;
  position: relative;
  transition: all 500ms linear;
  -webkit-transition: all 500ms linear;
}

.input-form-primary:focus {
  border-bottom: 1px solid #03A9F4;
}

.btn-main {
  background: #03a9f4;
  color: #fff !important;
  display: inline-block;
  padding: 6px 12px;
  border: 0px none;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.15);
  transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
  text-decoration: none !important;
}
.btn-main:hover, .btn-main:active {
  background: #81d4fa;
  box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.25);
}
.large-header {
  position: relative;
  width: 100%;
  background: #333;
  overflow: hidden;
  background-size: cover;
  background-position: center center;
}
