body {
  background: #ECEFF1;
  font-family: verdana;
}

a {
  outline: none !important;
  cursor: pointer;
  color: #03A9F4;
  position: relative;
  overflow: hidden;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

a:hover {
  text-decoration: none;
  color: #01579B;
}
/* click material effect */
.ink {
  display: block;
  position: absolute;
  background:rgba(255, 255, 255, 0.3);
  border-radius: 100%;
  -webkit-transform:scale(0);
     -moz-transform:scale(0);
       -o-transform:scale(0);
          transform:scale(0);
}

.animate {
	-webkit-animation:ripple 0.65s linear;
   -moz-animation:ripple 0.65s linear;
    -ms-animation:ripple 0.65s linear;
     -o-animation:ripple 0.65s linear;
        animation:ripple 0.65s linear;
}

@-webkit-keyframes ripple {
    100% {opacity: 0; -webkit-transform: scale(2.5);}
}

@-moz-keyframes ripple {
    100% {opacity: 0; -moz-transform: scale(2.5);}
}

@-o-keyframes ripple {
    100% {opacity: 0; -o-transform: scale(2.5);}
}

@keyframes ripple {
    100% {opacity: 0; transform: scale(2.5);}
}
/* end click */

.notification {
  padding: 10px 15px;
  margin: 5px;
  color: white;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.25);
  border-left: 5px solid rgb(0, 0, 0);
  display: block;
  transition: opacity 1s ease;
  -webkit-transition: opacity 1s ease;
  -moz-transition: opacity 1s ease;
}

.notification.success {
  background: #3C763D;
}

.notification.info {
  background: #31708f;
}

.notification.warning {
  background: #8a6d3b;
}

.notification.danger {
  background: #a94442;
}

.logo-header .logo {
  vertical-align: middle;
  display: block;
  padding: 17px;
  color: #fff;
  transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
}

.logo-header .logo:hover {
  transform: scale(1.5);
  -webkit-transform: scale(1.5);
}

.width-4 {
  width: 24.677%;
  display: inline-block;
}

.album {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin: 4px;
  box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.15);
  transition: box-shadow 400ms ease;
  position: relative;
  height: 200px;
  overflow: hidden;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.15);
}

.album:hover {
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.15);
}

.album a {
  text-decoration: none;
  color: #03a9f4;
}

.album .album-body {
  position: absolute;
  bottom: 0px;
  left: 0px;
  background: rgba(34, 34, 34, 0.3);
  width: 100%;
  color: #fff;
  text-shadow: 1px 1px 2px rgba(34, 34, 34, 0.5);
  padding: 5px;
}

.album .image-preview {
  position: relative;
  display: block;
}

.album .image-preview img {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  max-width: 100%;
}

.list-image {
  position: relative;
}

.list-image .image-grid {
  width: 24.7%;
  display: inline-block;
  overflow: hidden;
  height: 160px;
  margin: -2px;
}

.list-image .image-grid img {
  width: 100%;
  height: inherit;
}

.image-show-bg, .album-show-bg {
  background: #fff;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.15);
  border: 1px solid rgba(0, 0, 0, 0.15);
}

.fix-margin-col {
  margin-left: -15px;
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  background: #03a9f4;
  color: #fff;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.15);
}

.header-prefix {
  padding: auto;
}

.menu-user {
  display: inline-block;
  position: relative;
}

.menu-user .sub-menu {
  position: absolute;
  background: #2A363B;
  display: none;
  width: 100%;
  top: 40px;
  right: 0px;
  min-width: 150px;
  z-index: 999;
  box-shadow: 3px 4px 7px rgba(0, 0, 0, 0.2);
  border-top: 2px solid #E84A5F;
}

.menu-user .sub-menu a {
  display: block;
  font-size: 12px;
  line-height: 22px;
  width: 100%;
  padding: 5px;
  color: #ccc;
  text-decoration: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.menu-user .sub-menu a:hover {
  background: #E84A5F;
  color: #fff;
}

#content {
  margin-top: 65px;
  transition: all 300ms linear;
  -webkit-transition: all 300ms linear;
}

.menu-user .sub-menu:after {
  content: "";
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #E84A5F;
  display: inline-block;
  position: absolute;
  top: -7px;
  right: 2px;
  height: 0;
  width: 0;
}
.list-image-all .image-grid {
  width: 24.7%;
  display: inline-block;
  overflow: hidden;
  height: 200px;
}

.list-image-all .image-grid img {
  width: 100%;
  height: inherit;
}

.image-comment-bg .image-comment {
  overflow-y: auto;
  height: 200px;
}

.user-view-profile {
  box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.15);
  padding: 0px;
}

.user-view-profile .cover-photo {
  height: 315px;
  width: 100%;
  background: #222;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  position: relative;
}

.user-view-profile .cover-photo .box-cover {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.user-view-profile .box-cover .profile-picture{
  width: 180px;
  height: 180px;
  border: 2px solid rgba(255, 255, 255, 0.15);
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.15);
  border-radius: 50%;
}

.cover-photo .contact-people {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.user-view-profile .user-body {
  background: #fff;
  padding: 5px;
}
.user-view-profile .navbar-user {
  background: #fff;
}
.user-view-profile #navbar-user-profile{
  list-style: none;
  margin: 0px;
}

.user-view-profile #navbar-user-profile li {
  display: inline-block;
  text-decoration: none;
  font-weight: 700;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  margin: 5px -2px;
}

.user-view-profile #navbar-user-profile .li-active {
  background: #fff;
  color: #333 !important;
}

.non-authorize {
  padding: 10px 0px;
}

.edit-option {
  position: absolute;
  top: 5px;
  right: 5px;
}

.popup {
  padding: 15px;
  position: fixed;
  top: 30%;
  left: 50%;
  z-index: 9999;
  background: #fff;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.15);
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: 0;
  overflow: hidden;
}
.popup-bg {
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9998;
}
.popupBg {
  background: rgba(255, 255, 255, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 998;
}

.clear-fix {
  display: table;
  clear: both;
}

.panel {
  border: 0px none !important;
}
.panel .panel-heading {
   background: #03A9F4 !important;
   color: #fff !important;
   border-color: #03A9F4 !important;
}
.btn-main {
  background: #03a9f4;
  color: #fff !important;
  display: inline-block;
  padding: 6px 12px;
  border: 0px none;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.15);
  transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
  text-decoration: none !important;
}
.btn-main:hover, .btn-main:active {
  background: #81d4fa;
  box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.25);
}
.btn-default {
  border: 0px !important;
}
.bg-cover {
  background-size: cover !important;
  -o-background-size: cover !important;
  -moz-background-size: cover !important;
  -webkit-background-size: cover !important;
}
.logo-user {
  width: 26px;
}

.vertical-column {
  display: block;
  width: 200px;
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  z-index: 888;
  transition: all 300ms linear;
  -webkit-transition: all 300ms linear;
}

#vertical-menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

#vertical-menu a {
  display: block;
  padding: 15px 15px;
  color: #222;
  text-decoration: none;
  transition: color 300ms ease-in;
  -moz-transition: color 300ms ease-in;
  -webkit-transition: color 300ms ease-in;
}

#vertical-menu a:hover {
  color: #81d4fa;
}

.chat {
  padding: 0px 15px;
}

.vertical-menu-a.active {
  font-weight: bold;
  color: #01579b !important;
}
.no-post {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}
.post, .content-right, .no-post, .card, .messages {
  position: relative;
  background: #fff;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.15);
  padding: 10px;
  margin-bottom: 10px;
}
.post, .post-header, .post-body, .post-footer {
  margin-bottom: 10px;
}
.post-header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  padding: 10px 0px;
}
.post-time {
  font-size: 12px;
  color: #888;
}
.form-in-this-post {
  display: none;
}
.like, .like:active, .like:focus, .like:hover {
  font-weight: 700;
  color: #F25268;
}

.fix-margin {
  margin-top: 80px;
}
.fix-padding-col-right {
  padding: 0 !important;
}
h4.text-indent {
  text-indent: 20px;
}

.suggest-friend .suggest-single-friend {
  display: inline-block;
}
.suggest-friend .suggest-thumbnail {
  width: 70px;
  border: 1px solid rgba(0,0,0,0.15);
  margin-bottom: 5px;
}
.display-block {
  display: block;
}
.overlay {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.25);
  z-index: 10;
  display: none;
}



#message-container {
  position: fixed;
  bottom: 0;
  right: 5px;
}

.message-box {
  display: inline-block;
  margin: 0px 5px;
  width: 250px;
  box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.15), -3px -4px 4px rgba(0, 0, 0, 0.15);
}

#message-container, .message-box, .message-header, .message-body, .message-footer {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

#message-container .message-box > .message-header {
  padding: 15px;
  background: #03A9F4;
}

#message-container .message-box > .message-body {
  background: #fff;
  height: 250px;
  overflow-y: scroll;
  padding: 15px;
}

#message-container .message-box > .message-footer {
  border-top: 1px solid rgba(0, 0, 0, 0.15);
  background: #fff;
}

.message-box-input {
  outline: none;
  background: #fff;
  border: 0px;
  width: 100%;
  display: block;
  padding: 15px;
}

.list-friends .send-message-to-friend {
  padding: 5px;
  color: #222222;
  cursor: pointer;
}

.list-friends .send-message-to-friend:hover {
  color: #03A9F4;
}

.list-friends .friends {
  display: block;
  min-height: 300px;
  max-height: 400px;
  overflow-y: scroll;
}

.messages .message-link {
  color: #333;
  font-weight: 700;
  text-decoration: none;
}

.messages .message-link:hover {
  color: #01579B;
}

.messages .message-item {
  padding: 10px;
}

.messages .message-body {
  height: 450px;
  overflow-y: scroll;
}

.messages .message-body .author {
  display: inline-block;
  margin: 2px;
}

.message-content {
  display: inline-block;
  padding: 5px;
  margin: 5px;
  position: relative;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.15);
  color: #fff;
}

.message-body .left .message-content {
  background: #03a9f4;
}

 .message-body .right .message-content {
  background: #01579b;
}

 .message-body .message-content::before {
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  top: 20%;
}

 .message-body .left .message-content::before {
  border-top: 10px solid transparent;
  border-right: 10px solid #03a9f4;
  border-bottom: 10px solid transparent;
  left: -7px;
}

.message-body .right .message-content::before {
  border-top: 10px solid transparent;
  border-left: 10px solid #01579b;
  border-bottom: 10px solid transparent;
  right: -9px;
}

.message-body .send-moment {
  font-size: 12px;
  color: #ddd;
}

.message-body .r {
  display: block;
}

.send-message-form .input-send-message {
  height: 48px;
}

.notify {
  position: relative;
}

.notify .badge {
  position: absolute;
  text-align: center;
  bottom: 0px;
  left: 50%;
  color: #fff;
  font-size: 12px;
  padding: 5px;
  border-radius: 0px;
  background: transparent;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  height: 100%;
  width: 100%;
  -moz-animation: blink 1s linear infinite;
  -webkit-animation: blink 1s linear infinite;
  animation: blink 1s linear infinite;
}

.navigation-menu-header .navigator-item {
  display: inline-block;
}

.navigation-menu-header .navigator-item a {
  padding: 17px;
  display: block;
  color: #fff;
  position: relative;
}

.navigation-menu-header .navigator-item a:before, .navigation-menu-header .navigator-item a:after {
  content: "";
  height: 2px;
  width: 0px;
  position: absolute;
  bottom: 0;
  background: #fff;
  transition: all 300ms linear;
  -webkit-transition: all 300ms linear;
}

.navigation-menu-header .navigator-item a:before {
  left: 50%;
}

.navigation-menu-header .navigator-item a:after {
  right: 50%;
}

.navigation-menu-header .navigator-item a:hover:before,
 .navigation-menu-header .navigator-item a:hover:after {
  width: 50%;
}

.blink {
  -moz-animation: blink 1s linear infinite;
  -webkit-animation: blink 1s linear infinite;
  animation: blink 1s linear infinite;
}

@-moz-keyframes blink {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes blink {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.modal-header {
  background: #03A9F4;
  color: #fff;
}

.input-form-primary {
  display: block;
  width: 100%;
  padding: 10px 15px;
  outline: none;
  border: none;
  border-bottom: 1px solid #81d4fa;
  position: relative;
  transition: all 500ms linear;
  -webkit-transition: all 500ms linear;
}

.input-form-primary:focus {
  border-bottom: 1px solid #03A9F4;
  background: #e1f5fe;
}

textarea {
  height: 5em;
}

.show-option {
  position: absolute;
  right: 5px;
  top: 5px;
  padding: 5px;
  z-index: 10;
}

.show-option ul {
  list-style: none;
  display: none;
  position: absolute;
  background: #fff;
  right: 0px;
  top: 30px;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.15);
  margin: 0px;
  padding: 0px;
  z-index: 2;
}

.show-option ul:before {
  content: "";
  height: 0px;
  width: 0px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 10px solid #03A9F4;
  position: absolute;
  top: -10px;
  right: 5px;
}

.show-option ul li {
  min-width: 120px;
  display: block;
}

.show-option:hover ul {
  display: block;
}

.show-option .option-item {
  background: #03A9F4;
  color: #fff;
  outline: none;
  border: 0px;
  text-align: left;
  display: block;
  padding: 5px;
  transition: all 300ms linear;
  -webkit-transition: all 300ms linear;
}

.show-option .option-item:hover {
  background: #01579B;
}

.post {
  border: 2px solid transparent;
  transition: all 300ms linear;
  -webkit-transition: all 300ms linear;
}

.post:hover {
  border: 2px solid #03A9F4;
}

@media screen and (max-width: 768px) {
  .vertical-column {
    width: 300px;
    background: #fff;
    left: -302px;
  }
}

@media screen and (max-width: 767px) {
  #content.translate {
    transform: translateX(302px);
  }

  .animate-column {
    left: 0;
  }
}
